#password_field {
    padding-right: 30px;
}

/* Кнопка для отображения пароля */
#show_password {
    margin-left: -30px;
    margin-top: -10px;    
}

.password_field {
    display: flex;
    flex-direction:row;
    align-items:center;
}

#recipe {
    color:red;
}

#cart {
    display: flex;
    flex-direction: row;
    
}

#cart-category {
    display: flex;
    width: 45%;
}

#back-to-main-page-container {
    display: flex;
    justify-content: center;
}
.btn .btn-default .back-to-main-page {
    font-size: 25px;;
}