<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>

  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>PHP Shop</title>
  
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="../../template/css/app.css">

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>
      
<!-- ######################## Header ######################## -->
        
        <header>
              <h1></h1>              
        </header>
      
<!-- ######################## Section ######################## -->

<section class="section_main">

      <h2 style="text-align:center">Discover Hidden Treasures</h2>
      
      <div class="row">
      <?php foreach ($newsList as $newsItem):?>
          <article class="six columns">
                <div class="panel">
                    <h3><a href="/news/<?php echo $newsItem["id"];?>"><?php echo $newsItem["title"];?></h3></a>
                  <p><?php echo $newsItem["short_content"] ;?></p>
                  <a href="/news/<?php echo $newsItem["id"];?>" class="button secondary small radius">Learn More &raquo;</a>
                </div>
          </article>
        <?php endforeach;?>                                    
      </div>
      
      
</section>

<!-- ######################## Footer ######################## -->  
      
<footer>

      <div class="row">
      </div>

</footer>
    
</body>
</html>